    header{
        .navigation{
            width: 100%;
            height: 8vh;
            display: flex;
            background: red;
            position: fixed;
            z-index: 1;
            
            .nav_bar{
                width: 18.3%;
                height: 8vh;
                display: flex;
                top: 0px;
                //background: blue;
                .nav_bar_button{
                    margin-left: 8px;
                    // background: orange;
                    padding-top: 2px;
                    cursor: pointer;
                    button {
                        font-size: 19px;
                        padding: 10px;
                        background: none;
                        border:none;
                        i{
                            cursor: pointer;
                        }
                    }
                }
                .nav_bar_image{
                    margin-left: 18px;
                    // background: orange;
                    img{
                        width: 70px;
                        padding-top: 15px;
                        cursor: pointer;
                    }
                 }
            }
        }/*end of nav_bar, nav_bar_button & nav_bar_image*/
        .search_bar{
            width: 58.3%;
            height: 8vh;
            // background: palevioletred;
            .search_bar_input{
                display: flex;
                width: 98%;
                height: 8vh;
                // background: yellow;
                padding-bottom: 20px;
                .search{
                    width: 63%;
                    height: 5.4vh;
                    font-size: 32px;
                    margin-left: 140px;
                    margin-top: 6px;
                    padding-bottom: 10px;
                    padding-left: 8px;
                    // border-radius: 80px; 
                    border-bottom-left-radius: 50px;
                    border-top-left-radius: 50px;
                    border: 1px solid rgba(122, 121, 121, 0.492);
                    &::placeholder {
                        color: rgba(120, 124, 120, 0.932);
                        font-size: 13px;
                      } 
                }
                .search_btn{
                    width: 8%;
                    height: 5.4vh;
                    margin-top: 6px;
                    background: rgba(135, 133, 133, 0.078);
                    border: 1px solid rgba(128, 128, 128, 0.492);
                    border-bottom-right-radius: 50px;
                    border-top-right-radius: 50px;
                    // background: rgb(39, 18, 203);
                    border-left: none;
                    cursor: pointer;
                    i{
                        font-size: 22px;
                        border: none;
                        
                    }
                }
                .search_bar_microphone{
                    width: 4.5%;
                    height: 5vh;
                    background: rgba(184, 183, 183, 0.134);
                    margin-left: 7px;
                    margin-top: 6px;
                    border-radius: 30px;
                    cursor: pointer;
                    i{
                        padding-top: 8px;
                        font-size: 15px;
                        padding-left: 10px;
                        border: 50px;
                    }
                }/*end of search_bar and search_microphone*/
            }
        }/*notification_bar*/
        .notification_bar{
            width: 24%;
            // background: rosybrown;
            position: relative;
            .video{
                margin-left: 150px;
                font-size: 16px;
                margin-top: 15px;
                cursor: pointer;
            }
            .bell{
                // background: red;
                margin-left: 19px;
                margin-top: 12px;
                font-size: 18px;
                cursor: pointer;
            }
            .image{
               width: 25%;
            //    background: black;
               margin-left: 210px;
               margin-top: -27px;
               padding-left: 20px; 
               position: absolute;
               img{
                width: 32px;
                border-radius: 50%;
                cursor: pointer;
            }
            }
        }
    }