section{
    display: flex;
    .library{
        overflow-y: scroll;
        &:hover{
            cursor: pointer;
            
            ::-webkit-scrollbar{
                width: 6px;
                overflow-y: scroll;
            } 
            ::-webkit-scrollbar-thumb {
                background: gray; 
                border-radius: 10px;
                overflow-y: scroll;
              }
        }
        width: 17%;
        flex-grow: 1;
        height: 100vh;
        // background: blueviolet;
        position: fixed;
        top: 8vh;
        left: 0;
        // display: none;
        margin-top: 8px;
        padding-left: 6px;
        .library_list{
            display: block; 
            p{
                font-size: 13px;
                text-align: left;
                padding: 2px 0 10px 10px;
                // line-height: 1.5;
            }
            h6{
                font-size: 10px;
                padding-bottom: 80px;
                padding-left: 10px;
                padding-top: -30px;
                color: rgb(117, 115, 115);
            }
            ul{
                h3{
                    font-size: 13px;
                    margin: 15px 0 11px 10px;
                }
                list-style: none;
                .man{
                    background-color: rgba(126, 122, 122, 0.121);
                    &:hover{
                        background-color: rgba(182, 177, 177, 0.492);
                    }
                }
                li{
                    width: 95%;
                    height: 5.9vh;
                    padding: 6px 0px 6px 10px;
                    // margin-bottom: 20px;
                    border-radius: 10px;
                    &:hover{
                        background-color: rgba(126, 122, 122, 0.121);
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 12px;
                        // background: red;
                        i{
                            font-size: 15px;
                        }
                        span{
                            margin-left: 22px;
                            text-align: center;
                        }
                        #sumaya{
                            color: red;
                            // background: red;
                        }
                    }
                }
            }
        }
        hr{
            width: 86%;
            margin: 12px 0 12px 0;
            border: 0.5px solid rgba(211, 211, 211, 0.363);
        }
    }

    .explore{
        width: 8%;
        height: 100vh;
        position: fixed;
        // background: red;
        display: none;
        padding-top: 55px;
        .section1_list{
            list-style: none;
                li{
                    width: 60%;
                    // background: red;
                    border-radius: 10px;
                    text-decoration: none;
                    top: 20px;
                    padding: 8px 0px 15px 20px;
                    &:hover{
                        background-color: rgba(102, 95, 95, 0.268);
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 15px;
                        i{
                           padding-top: 10px;
                        }
                        span{
                            font-size: 9px;
                            margin-left: -5px;
                            text-align: center;
                        }
                        .dia{
                            margin-left: -15px;
                        }
                    }
                }
        }
    }

    .scroll-container {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 8vh;
        width: 83%;
        left: 17%;
        z-index: 1;
        // background: red;
        .left-button-container {
            // background-color: red;
            background: linear-gradient(to right, white 50%,rgba(255,255,255,0) 100%);
            padding-right: 50px;
            padding-bottom: 20px;
            position: absolute;
            left: 0;
            button{
                margin-top: 8px;
            }
        }
    
        .right-button-container{
            background-color: blue;
            background: linear-gradient(to left, white 50%,rgba(255,255,255,0) 100%);
            padding-left: 50px;
            padding-bottom: 20px;
            position: absolute;
            right: 0;
            button{
                margin-top: 8px;
            }
            
        }    

        button {
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }

        .videos{//merville this your code
            width: 83%;
            flex-grow: 1;
            flex-basis: 60%;
            position: absolute;
            top: calc(8vh + 65px);
            left: 17%;
            .filters::-webkit-scrollbar {
                display: none;
            }

            .filters{
                overflow-y: hidden;
                overflow-x: scroll;
                height: 65px;
                display: flex;
                background: #fff;
                // border-top: 1px solid #dbdbdb;
                // border-bottom: 1px solid #dbdbdb;
                align-items: center;
                white-space: nowrap;
                padding-bottom: 14px;
                .ismael{
                    border-radius: 50px;
                    border: 1px solid #dbdbdb; 
                    text-transform: capitalize;
                    color: white;
                    background: black;
                    font-size: 12px;
                    cursor: pointer;
                    margin: 0 0 0 15px;
                    padding: 8px;
                    border-radius: 10px;
                }
                .filter-options{
                    border-radius: 50px;
                    border: 1px solid #dbdbdb; 
                    text-transform: capitalize;
                    color: #242424;
                    font-size: 11.5px;
                    cursor: pointer;
                    margin: 0 0 0 15px;
                    font-family: 'roboto', Arial, sans-serif;
                    padding: 8px;
                    border-radius: 10px;
                    background: rgba(126, 122, 122, 0.121);
                    &:hover{
                        background-color: rgba(182, 177, 177, 0.492);
                    }
                    
                }
            }
            .video-container{
                display: grid;
                grid-template-columns: auto auto auto auto;
                width: 100%;
                // background: blue;
                padding: 12px;
                z-index: -1;
                .video{
                    width: 94%;
                    height: 90%;
                    margin-right: 2%;
                    margin-bottom: 40px;
                    column-gap: 3%;
                    position: relative;
                    cursor: pointer;
                    &:hover{
                        .dots_download{
                            display: block;
                        }
                    }
                    .videos-image{
                        height: 170px;
                        img{
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }
                    .time{
                        position: absolute;
                        top: 149.5px;
                        left: 85%;
                        // margin-top: -50px;
                        background-color: rgba(0,0,0,.85);
                        color: white;
                    }
                    .video-detail{
                        display: flex;
                        margin-top: 6px;
                        position: inherit;
                        .author{
                            img{
                                height: 40px;
                                width: 40px;
                                border-radius: 50%;
                                margin-right: 10px;
                                margin-top: 10px;
                            }
                        }
                        .title{
                            display: flex;
                            flex-direction: column;
                            margin-top: 4px;
                            width: 95%;
    
                            h3{
                                font-family: 'roboto', Arial, sans-serif;
                                font-size: 14px;
                                line-height: 18px;
                                color: black;
                            }
                            // .name{
                                // margin-top: -8px;
                            // }
                            a{
                                text-decoration: none;
                                color: rgb(96, 96, 96);
                                font-size: 14px;
                            }
                            span{
                                text-decoration: none;
                                color: rgb(96, 96, 96);
                                font-size: 14px;
                            }
                        }
                        button{
                            border: none;
                            background-color: transparent;
                            outline: none;
                            cursor: pointer;
                            position: absolute;
                            margin-left: 95%;
                            margin-top: 10px;
                            display: none;
                        }
                    }
                }
            }
            hr{
               border: none;
               border-bottom: 5px solid #ddd;
               margin-bottom: 50px;
            }

            .shorts{
                display: flex;
                column-gap: 8px;
                margin-left: 15px;
                margin-bottom: 30px;
                margin-top: -20px;

                i{
                    font-size: 25px;
                    color: red;
                }

                h1{
                    font-family: 'roboto',arial, sans-serif;
                    font-weight: 300;
                }
            }
    
            .storie-container{
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto;
                width: 100%;
                column-gap: 1%;
                    
                .storie{
                    width: 98%;
                    height: 90%;
                    margin-bottom: 10px;
                    cursor: pointer;
                    &:hover{
                        .dots_download{
                            display: block;
                        }
                    }
    
                    .storie-image{
                        height: 300px;
    
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
    
                    .storie-title{
                        display: flex;
                        position: inherit;
                        margin-top: 12px;
    
                        .description{
                            width: 88%;
                            display: flex;
                            flex-direction: column;
    
                            h3{
                                font-family: 'roboto', arial,sans-serif;
                                font-size: 14px;
                                line-height: 18px;
                                color: black;
                            }
    
                            a{
                                text-decoration: none;
                                font-size: 14px;
                                color: rgb(96, 96, 96);
                            }
    
                            span{
                                text-decoration: none;
                                font-size: 14px;
                                color: rgb(96, 96, 96);
                            }
                            .span{
                                margin-top: -10px;
                            }
                        }
    
                        button{
                            display: none;
                            border: none;
                            background-color: transparent;
                            outline: none;
                            cursor: pointer;
                            position: absolute;
                            margin-top: 10px;
                            margin-left: 14%;
                        }
                    }
                }
            }
            .ligne-storie{
                margin-top: 30px;
            }
        }
}