@import './reset';

@import './header';
@import'./section';
@import './desktop/header';
@import './normal/header'; 
@import './normal/section';
@import './tablet/header';
@import './tablet/section';
@import './mobile/mobile';
@import './mobile/section';
