
@media (max-width: 576px) {
    header{
        .navigation{
            width: 100%;
            height: 15vh;
            display: flex;
            background: white;
            // background: transparent;
            position: fixed;
            z-index: 1;
            .nav_bar{
                width: 50%;
                height: 10vh;
                display: flex;
                top: 0px;
                // background: blue;
                background: transparent;
                border: none;
                position: relative;
                .nav_bar_button{
                    // width: 15%;
                    // height: 5.2vh;
                    // margin-left: 8px;
                    border: none;
                    // margin-bottom: 80px;
                    // padding-left: 1px;
                    background:transparent;
                    // cursor: pointer;
                    // &:hover{
                    //     background-color: rgba(182, 177, 177, 0.492);
                    // }
                    button {
                        
                        // margin-bottom: 50px;
                        // border:none;
                        i{
                            cursor: pointer;
                            position: absolute; 
                            top: 17px;
                            left: 17px;
                            font-size: 19px;
                        }
                    }
                }
                .nav_bar_image{
                    margin-left: 50px;
                    // background: orange;
                    img{
                        width: 70px;
                        position: absolute;
                        padding-top: 19px;
                        left: 58px;
                        cursor: pointer;
                    }
                 }
            }
        }/*end of nav_bar, nav_bar_button & nav_bar_image*/
        .search_bar{
            width: 58.3%;
            height: 8vh;
            // background: palevioletred;
            // display: none;
            // background: none;
            border: none;
            .search_bar_input{
                display: flex;
                width: 98%;
                height: 8vh;
                // background: none;
                // background: yellow;
                padding-bottom: 20px;
                .search{
                    display: none;
                    width: 0%;
                    height: 5.4vh;
                    font-size: 32px;
                    margin-left: 200px;
                    margin-top: 6px;
                    padding-bottom: 10px;
                    padding-left: 8px;
                    // border-radius: 80px; 
                    border-bottom-left-radius: 50px;
                    border-top-left-radius: 50px;
                    border: none;
                    position: absolute;
                    &::placeholder {
                        color: rgba(120, 124, 120, 0.932);
                        font-size: 13px;
                        display: none;
                        opacity: 0;
                      } 
                }
                .search_btn{
                    position: absolute;
                    border: none;
                    width: 8%;
                    height: 5.4vh;
                    margin-top: 14px;
                    margin-left: 72px;
                    background: transparent;
                    border: 1px solid rgba(128, 128, 128, 0.492);
                    border-bottom-right-radius: 50px;
                    border-top-right-radius: 50px;
                    // background: rgb(39, 18, 203);
                    border: none;
                    // cursor: pointer;
                    i{
                        font-size: 22px;
                        border: none;
                        
                    }
                }
                .search_bar_microphone{
                    // position: relative;
                    background: transparent;  
                    width: 4.5%;
                    height: 5vh;
                    margin-left: 102px;
                    margin-top: 13px;
                    // border-radius: 30px;
                    
                    i{
                        cursor: pointer;
                        padding-top: 8px;
                        font-size: 15px;
                        padding-left: 10px;
                        border: 50px;
                    }
                }/*end of search_bar and search_microphone*/
            }
        }/*notification_bar*/
        .notification_bar{
            width: 24%;
            margin-right: 19px;
            // background: rosybrown;
            position: relative;
            .video{
                margin-left: -32px;
                font-size: 16px;
                margin-top: 12px;
                cursor: pointer;
                position: absolute;
            }
            .bell{
                // background: red;
                margin-left: 5px;
                margin-top: 11px;
                font-size: 18px;
                cursor: pointer;
                // position: absolute;
            }
            .image{
               width: 25%;
            //    background: black;
               margin-left: 25px;
               margin-top: -29px;
               position: absolute;
               img{
                width: 32px;
                border-radius: 50%;
                cursor: pointer;
            }
            }
        }
    }


}
