@media (max-width: 576px) {
section{
    // width: 100vw;
    // height: 100vh;
    // overflow: hidden;
    // background: red;
    // display: flex;
    // position: absolute;
    // overflow: hidden;
    .library{
        display: none;
        visibility: hidden;
        // overflow-y: scroll;
        // width: 22%;
        // background: blueviolet;
        .library_list{
            display: none;
            ul{
                list-style: none;
                li{
                    width: 100%;
                    padding: 6px 0px 6px 20px;
                    &:hover{
                        background-color: rgba(126, 122, 122, 0.121);
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 12px;

                        span{
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }

    .explore{
        // width: 7%;
        // position: sticky;
        // background: red;
        display: none;
        visibility: hidden;
        .section1_list{
            list-style: none;
            display: none;
                li{
                    width: 100%;
                    text-decoration: none;
                    padding: 6px 0px 6px 20px;
                    &:hover{
                        background-color: rgba(102, 95, 95, 0.268);
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 12px;
                    }
                }
        }
    }

    .scroll-container {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -50px;
        width: 75%;
        left: 0;
        z-index: 1;

        .left-button-container {
            // background: linear-gradient(to right, rgb(191, 16, 16) 50%,rgba(255,255,255,0) 100%);
            padding-right: 50px;
            padding-bottom: 20px;
            position: absolute;
            left: 0;
            button{
                margin-top: 15px;
            }
        }
    
        .right-button-container{
            // background-color: blue;
            // background: linear-gradient(to left, white 50%,rgba(255,255,255,0) 100%);
            padding-left: 50px;
            padding-bottom: 20px;
            position: absolute;
            right: 0;
            button{
                margin-top: 15px;
            }
            
        }    

        button {
            // margin-top: 20px;
            border: none;
            background: transparent;
            cursor: pointer;
        }
    }

    .videos{
        width: 75%;
        // background: blue;
        
        .filters{
            width: 100%;
            height: 50px;
            display: flex;
            background: #fff;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
            align-items: center;
            // position: absolute;
            // top: 3vh;
            // left: -50px;
            .filter-options{
                border-radius: 50px;
                border: 1px solid #dbdbdb; 
                text-transform: capitalize;
                color: #242424;
                font-size: 15px;
                cursor: pointer;
            }
        }
        .video-container{
            overflow: hidden;
            display: grid;
            // background: blue;
            overflow: hidden;
            // height: 50px;
            // width: 80%;
            // margin-left: 10%;
            // margin-right: 10%;
            // background: blue;
            grid-template-columns: auto;
            // width: 25%;
            .video{
                width: 100%;
                // margin-right: 2%;
                // column-gap: 3%;
                position: relative;
                &:hover{
                    .dots_download{
                        display: block;
                    }
                }
                .videos-image{
                    height: 170px;
                    img{
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .time{
                    position: absolute;
                    top: 149.5px;
                    left: 85%;
                    margin-top: -5px;
                    background-color: rgba(0,0,0,.85);
                    color: white;
                }
                .video-detail{
                    display: flex;
                    margin-top: 6px;
                    position: inherit;
                    .author{
                        img{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                    }
                    .title{
                        display: flex;
                        flex-direction: column;
                        // margin-top: -4px;
                        width: 93%;
    
                        h3{
                            font-family: 'roboto', Arial, sans-serif;
                            font-size: 14px;
                            line-height: 18px;
                            color: #030303;
                        }
                       
                        a{
                            text-decoration: none;
                            color: rgb(96, 96, 96);
                            font-size: 14px;
                        }
                        span{
                            text-decoration: none;
                            color: rgb(96, 96, 96); 
                            font-size: 14px;
                        }
                    }
                    button{
                        border: none;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        position: absolute;
                        margin-left: 95%;
                        margin-top: 10px;
                        display: none;
                    }
                }
            }
    
        }
        .storie-container{
            display: grid;
            grid-template-columns: auto auto;
            width: 100%;
            column-gap: 1%;
            // background: red;
            // height: 10px;
            overflow: hidden;
                
            .storie{
                width: 97%;
                height: 90%;
                margin-bottom: 10px;
                cursor: pointer;
                &:hover{
                    .dots_download{
                        display: block;
                    }
                }

                .storie-image{
                    height: 300px;

                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                .storie-title{
                    display: flex;
                    position: inherit;
                    margin-top: 12px;

                    .description{
                        width: 88%;
                        display: flex;
                        flex-direction: column;

                        h3{
                            font-family: 'roboto', arial,sans-serif;
                            font-size: 14px;
                            line-height: 18px;
                            color: black;
                        }

                        a{
                            text-decoration: none;
                            font-size: 14px;
                            color: rgb(96, 96, 96);
                        }

                        span{
                            text-decoration: none;
                            font-size: 14px;
                            color: rgb(96, 96, 96);
                        }
                        // .span{
                        //     margin-top: -10px;
                        // }
                    }

                    button{
                        display: none;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        position: absolute;
                        margin-top: 10px;
                        margin-left: 45%;
                    }
                }
            }
        }
        .ligne-storie{
            margin-top: 30px;
        }
    }
}
.black{
    background:rgba(0, 0, 0, 0.56);
    width: 100%;
    height: 100%;
    z-index: 98;
    position: fixed;
    // top: -10;
    // margin-top: 60px;
    // overflow: scroll;
    display: block;
    right: 100%;

    &.active{

        right: 100%;
    }
    .mobile_header{
        width: 48%;
        height: 8.5vh;
        background: white;
        display: flex;
        position: relative;

        .mobile_hamburger{
            width: 22%;
            height: 8.5vh;
            // background: rgb(180, 225, 29);
            position: absolute;
            button{
                border: none;
                margin: 12px 0 0 22px;
                i{
                    font-size: 19px;
                    cursor: pointer;
                }
            }
        }
        .mobile_img{
            width: 60%;
            height: 8.5vh;
            // background: rgb(8, 212, 70);
            margin-left: 61px;
            position: absolute;
            img{
                width: 68%;
                padding: 12px 0 0 0px;
                cursor: pointer;
            }
        }
    }
    .library{
        display: block;
        overflow-y: scroll;
        width: 48%;
        height: 100%;
        background:white;
        .library_list{
            display: block; 
            p{
                font-size: 13px;
                text-align: left;
                padding: 2px 0 10px 23px;
                // line-height: 1.5;
            }
            h6{
                font-size: 10px;
                padding-bottom: 68px;
                padding-left: 23px;
                padding-top: -30px;
                color: rgb(117, 115, 115);
            }
            ul{
                h3{
                    width: 90%;
                    font-size: 13px;
                    margin: 15px 0 12px 23px;
                }
                list-style: none;
                .man{
                    background-color: rgba(126, 122, 122, 0.121);
                    &:hover{
                        background-color: rgba(182, 177, 177, 0.492);
                    }
                }
                li{
                    width: 95%;
                    height: 5.9vh;
                    padding: 6px 0px 6px 23px;
                    // margin-bottom: 20px;
                    border-radius: 10px;
                    &:hover{
                        background-color: rgba(126, 122, 122, 0.121);
                    }
                    a{
                        cursor: pointer;
                        text-decoration: none;
                        color: black;
                        font-size: 12px;
                        // background: red;
                        i{
                            font-size: 15px;
                        }
                        span{
                            margin-left: 22px;
                            text-align: center;
                        }
                        #sumaya{
                            color: red;
                            // background: red;
                        }
                    }
                }
            }
        }
        hr{
            width: 86%;
            margin: 12px 0 12px 0;
            border: 0.5px solid rgba(211, 211, 211, 0.363);
        }
    }
}
}

.main_body{
    &.active{
        overflow-y: hidden;
    }
    &.active .black{
     right: 0%;
    }
}