@media (max-width: 576px) {
section{
    display: flex;
    .library{
        overflow-y: scroll;
        width: 22%;
        background: blueviolet;
        // display: none;
        .library_list{
            display: block;
            ul{
                list-style: none;
                li{
                    width: 100%;
                    padding: 6px 0px 6px 20px;
                    &:hover{
                        background-color: rgba(126, 122, 122, 0.121);
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 12px;

                        span{
                            margin-left: 25px;
                        }
                    }
                }
            }
        }
    }

    .explore{
        width: 7%;
        // position: sticky;
        background: red;
        display: none;
        .section1_list{
            list-style: none;
                li{
                    width: 100%;
                    text-decoration: none;
                    padding: 6px 0px 6px 20px;
                    &:hover{
                        background-color: rgba(102, 95, 95, 0.268);
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 12px;
                    }
                }
        }
    }
    .videos{
        width: 100%;
        .filters{
            height: 50px;
            display: flex;
            background: #fff;
            border-top: 1px solid #dbdbdb;
            border-bottom: 1px solid #dbdbdb;
            align-items: center;
            .filter-options{
                border-radius: 50px;
                border: 1px solid #dbdbdb; 
                text-transform: capitalize;
                color: #242424;
                font-size: 15px;
                cursor: pointer;
            }
        }
        .video-container{
            display: block;
            // grid-template-columns: auto;
            width: 25%;
            .video{
                width: 95%;
                margin-right: 2%;
                column-gap: 3%;
                position: relative;
                &:hover{
                    .dots_download{
                        display: block;
                    }
                }
                .videos-image{
                    height: 53%;
                    img{
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                .video-detail{
                    display: flex;
                    margin-top: 6px;
                    position: inherit;
                    .author{
                        img{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            margin-right: 10px;
                            margin-top: 10px;
                        }
                    }
                    .title{
                        display: flex;
                        flex-direction: column;
                        margin-top: -4px;
                        width: 95%;
    
                        h3{
                            font-family: 'roboto', Arial, sans-serif;
                            font-size: 14px;
                            line-height: 18px;
                            color: #030303;
                        }
                        .name{
                            margin-top: -8px;
                        }
                        a{
                            text-decoration: none;
                            color: rgb(96, 96, 96);
                            font-size: 14px;
                        }
                        span{
                            text-decoration: none;
                            color: rgb(96, 96, 96);
                            font-size: 14px;
                        }
                    }
                    button{
                        border: none;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        position: absolute;
                        margin-left: 95%;
                        margin-top: 10px;
                        display: none;
                    }
                }
            }
    
        }
    }
}
}