@media (max-width: 768px) {
    header{
        background: black;
        .navigation{
            width: 100%;
            height: 8vh;
            background: rgba(255, 0, 0, 0.199);
            display: flex;
            position: relative;
            // grid-template-columns:  auto auto auto ;
            .nav_bar{
                width: 30%;
                height: 8vh;
                // background: green;
                display: flex;
                .nav_bar_button{
                    margin-left: 20px;
                    // background: blue;
                    button{
                        font-size: 20px;
                        margin-top: 10px;
                        padding: 10px;
                        background: none;
                        border:none;
                    }
                }
                .nav_bar_image{
                    margin-left: 18px;
                    // background: rgb(207, 41, 160);
                    img{
                        width: 90px;
                        padding-top: 20px;
                    }
                 }
            }/*end of nav_bar, nav_bar_button & nav_bar_image*/
    
            /*search_bar and search_microphone*/
            .search_bar{
                width: 45%;
                height: 8vh;
                // background: palegreen;
                .search_bar_input{
                    display: flex;
                    width: 93%;
                    // background: black;
                    padding-bottom: 20px;
                    .search{
                        width: 94%;
                        height: 5vh;
                        font-size: 32px;
                        margin-left: 2px;
                        margin-top: 9px;
                        padding-bottom: 10px;
                        padding-left: 8px;
                        border: 1px solid rgba(122, 121, 121, 0.492); 
                        &::placeholder {
                            color: rgba(120, 124, 120, 0.932);
                            font-size: 17px;
                          }
                    }
                    .search_btn{
                        width: 8%;
                        height: 5vh;
                        margin-top: 9px;
                        background: rgba(135, 133, 133, 0.078);
                        border: 1px solid rgba(128, 128, 128, 0.492);
                        // background: red;
                        border-left: none;
                        i{
                            font-size: 25px;
                            border: none;
                        }
                    }
                    .search_bar_microphone{
                        width: 6.6%;
                        height: 5vh;
                        background: rgba(184, 183, 183, 0.134);
                        margin-left: 5px;
                        margin-top: 9px;
                        border-radius: 30px;
                        i{
                            padding-top: 10px;
                            font-size: 18px;
                            padding-left: 12px;
                            border: 50px;
                        }
                    }
                }
            }/*end of search_bar and search_microphone*/
            
            .notification_bar{
                width: 20%;
                background: yellow;
                position: relative;
                margin-left: 180px;
                display: grid;
                grid-template-columns: auto auto auto; 
                .video{
                    // position: absolute;
                    margin-top: 17.4px;
                    margin-left: 10px;
                    font-size: 22px;
                }
                .bell{
                    // position: absolute;
                    margin-left: 10px;
                    margin-top: 17px;
                    font-size: 23px;
                }
                .image{
                    width: 45px;
                    height: 60px;
                    // background: pink;
                    margin-left: 10px;
                img{
                    width: 32px;
                    // float: right;
                    // margin-left: 100px;     
                    border-radius: 50%;
                    margin-right: 35px;
                    margin-top: 12px;
                    // position: fixed;
                }
            }
            }
        } 
        
    }
}